<div class="visualization-container">
    <div *ngIf="!visualizationUrl" class="placeholder">
      <p>No visualization generated yet. Use the editor to create one.</p>
    </div>
    
     <!-- Static images -->
     <div *ngIf="visualizationUrl">
      <ng-container *ngIf="visualizationUrl.endsWith('.png') || visualizationUrl.endsWith('.jpg'); else htmlOutput">
        <img [src]="safeVisualizationUrl" width="100%" alt="Generated Visualization" />
      </ng-container>
  
      <ng-template #htmlOutput>
        <iframe [src]="safeVisualizationUrl" frameborder="0" width="100%" height="500px"></iframe>
      </ng-template>
    </div>
</div>
  